<!DOCTYPE html>
<html>
  <head>
    <title>Title of the document</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <script src="/main.js"></script>
  </head>

  <body>
    <%- partial("_structure/header") %>
    <%- partial("_structure/navigation") %>

    <div class="content">
      <%- yield %>
    </div>

    <%- partial("_structure/footer") %>
  </body>
</html>
