<div class="card-container">
  <img src="/assets/images/4_3/dough-roller.jpg" class="card-image"></img>
  <img src="/assets/images/4_3/pizza-slices.jpg" class="card-image"></img>
  <img src="/assets/images/4_3/food-bar.jpg" class="card-image"></img>
</div>
