<div class="card-container">
  <img src="/assets/images/dough-roller.jpg" class="card-image"></img>
  <img src="/assets/images/pizza-slices.jpg" class="card-image"></img>
  <img src="/assets/images/food-bar.jpg" class="card-image"></img>
</div>
