<a href="/">
  <h1>Jacks Family Pizza</h1>
</a>

<hr>

<h3>This is yours to own. Enjoy.</h3>

<div class="card-container">
  <img src="/images/dough-roller.jpg" class="card-image"></img>
  <img src="/images/pizza-slices.jpg" class="card-image"></img>
  <img src="/images/food-bar.jpg" class="card-image"></img>
</div>
