html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  min-height: 100%;
  font-family: "Helvetica";
  text-align: center;
  padding: 0;
  padding-bottom: 50rem;
  background: #f4f4f7;
  color: #444;
  margin: 0;
}

h1 {
  font-size: 65px;
  line-height: 1.2em;
  margin: 0;
  color: #76323f;
}

h3 {
  font-weight: 300;
}

hr {
  border: 0;
  border-bottom: #CCC solid 1px;
  margin: 15px 0;
}

img {
  max-width: 100%;
}

img.card-image {
  width: 49%;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

.header {
  padding: 1rem;
}

.navigation {
  padding: 8px;
  background-color: #c09f80;
  color: #f4f4f7;
  font-size: 1.75rem;
}

.navigation a {
  padding: 0 30px;
}

.navigation a.active {
  border-bottom: 8px solid #76323f;
}

.content {
  padding: 1rem;
  max-width: 900px;
  margin: 0 auto;
  text-align: left;
}

.breadcrumbs a:not(:last-child):after {
  margin: 0 0.5rem;
  content: ">"
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}
