<title><%- public._data.title %></title>

<script type="module">
  import JackImage from '/elements/jack-image.js';
</script>

<script src="<%- public._data.jsPath %>"></script>
<link rel="stylesheet" type="text/css" href="<%- public._data.cssPath %>">
