<div class="navigation">
  <a href="/" class="<%- current.path[0] === 'index' ? 'active' : ''%>">Home</a>
  <a href="/menu.html" class="<%- current.path[0] === 'menu' ? 'active' : ''%>">Menu</a>
  <a href="/locations.html" class="<%- current.path[0] === 'locations' ? 'active' : ''%>">Locations</a>
  <a href="/story.html" class="<%- current.path[0] === 'story' ? 'active' : ''%>">Story</a>
</div>
