<div class="primary-page-image">
  <jack-image image="<%- public[current.source]._data.image %>" dimensions="16_9"></jack-image>
</div>

<h1 class="primary-page"><%- public[current.source]._data.title %></h1>
