<h2><%- public.menu._data[current.source].title %></h2>

<p>I often find myself designing a website where the footer must rest at the bottom of the page, even if the content above it is too short to push it to the bottom of the viewport naturally.</p>
